{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="{% static 'img/logo-success.png' %}">
  <title>
      SK Tech Formation - S'authentifier
    </title>
</head>
<body class="row bg-light">
    {% if message %}
    <div class="col-sm-12 alert alert-success">
      {{ message }}
    </div>
    {% endif %}
  <div class="col-sm-0 col-md-3 col-lg-4"></div>
  <div class="mt-sm-3 mt-md-5 col-sm-12 col-md-6 col-lg-4 text-center">
    <img class="mx-auto d-block mb-4 w-25" src="{% static 'img/logo-success.png' %}" alt="DataSK Logo">
    <h3 class="mb-3">S'authentifier</h3>
    <p class="mb-3">Bienvenue sur la plateforme web DataSK.</p>
    <form class="mb-5 action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <input class="form-control form-control-lg mb-2" type="text" name="username" id="username" placeholder="Nom d'utilisateur" required>
      <input class="form-control form-control-lg mb-3" type="password" name="password" id="password" placeholder="Mot de passe" required>
      <input class="form-control form-control-lg btn btn-outline-success" type="submit" value="Login">
    </form>
    <p class="text-muted text-center"><a href="www.google.com">&copy; 2022-{% now "Y" %} Selaiman Kassou, All rights reserved</a></p>
  </div>
  <div class="col-sm-0 col-md-3 col-lg-4"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
